# Data Exploration

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../dataset/housing.csv')

In [3]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
from ydata_profiling import ProfileReport

In [5]:
profile = ProfileReport(data, title="Housing Dataset Profiling Report")
profile.to_file("housing_dataset_profiling_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 10/10 [00:00<00:00, 75.80it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [6]:
import dtale

In [9]:
d = dtale.show(data)
d.open_browser()

In [11]:
d.kill()

2025-06-21 20:11:08,174 - INFO     - Shutdown complete

---

In [12]:
data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [14]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
longitude,20640.0,-119.569704,2.003532,-124.3500,-121.8000,-118.4900,-118.01000,-114.3100
latitude,20640.0,35.631861,2.135952,32.5400,33.9300,34.2600,37.71000,41.9500
housing_median_age,20640.0,28.639486,12.585558,1.0000,18.0000,29.0000,37.00000,52.0000
total_rooms,20640.0,2635.763081,2181.615252,2.0000,1447.7500,2127.0000,3148.00000,39320.0000
total_bedrooms,20433.0,537.870553,421.385070,1.0000,296.0000,435.0000,647.00000,6445.0000
population,20640.0,1425.476744,1132.462122,3.0000,787.0000,1166.0000,1725.00000,35682.0000
households,20640.0,499.539680,382.329753,1.0000,280.0000,409.0000,605.00000,6082.0000
median_income,20640.0,3.870671,1.899822,0.4999,2.5634,3.5348,4.74325,15.0001
median_house_value,20640.0,206855.816909,115395.615874,14999.0000,119600.0000,179700.0000,264725.00000,500001.0000

In [15]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size=0.25, random_state=42)

print(train.shape)
print(test.shape)

(15480, 10)
(5160, 10)

In [20]:
import numpy as np

data['income_cat'] = pd.cut(data['median_income'], bins=[0., 1.5, 3.0, 4.5, 6., np.inf], labels=[1, 2, 3, 4, 5])

In [26]:
data['income_cat'].value_counts() / len(data) * 100

income_cat
3    35.058140
2    31.884690
4    17.630814
5    11.443798
1     3.982558
Name: count, dtype: float64

In [28]:
train_strat, test_strat = train_test_split(data, test_size=0.25, random_state=42, stratify=data['income_cat'])

print(train_strat.shape)
print(test_strat.shape)

(15480, 11)
(5160, 11)

In [29]:
print(train_strat['income_cat'].value_counts() / len(train_strat) * 100)
print(test_strat['income_cat'].value_counts() / len(test_strat) * 100)

income_cat
3    35.058140
2    31.886305
4    17.629199
5    11.447028
1     3.979328
Name: count, dtype: float64
income_cat
3    35.058140
2    31.879845
4    17.635659
5    11.434109
1     3.992248
Name: count, dtype: float64

In [31]:
train_strat.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity', 'income_cat'],
      dtype='object')

In [34]:
housing = train_strat.drop(['income_cat', 'median_house_value'] , axis=1)
housing_labels = train_strat['median_house_value'].copy()

housing_test = test_strat.drop(['income_cat', 'median_house_value'], axis=1)
housing_test_labels = test_strat['median_house_value'].copy()

In [36]:
print(housing.shape)
print(housing_labels.shape)
print("\n")
print(housing_test.shape)
print(housing_test_labels.shape)

(15480, 9)
(15480,)


(5160, 9)
(5160,)